@page
@model Q2.Pages.Movies.Director_MovieModel

<h2>Directors</h2>
<div style="display: flex;">
    <div style="margin-right: 30px;width: 300px">
        @foreach (var director in Model.Directors)
        {
            <div>
                <a id="di_@director.Id" href="/Movies/Director_Movie?DirectorId=@director.Id">
                    @director.FullName
                </a>
            </div>
        }
    </div>

    <div style="width: 1000px">
        <h2>List of Movies</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Director</th>
                    <th>Producer</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Movies.Count; i++)
                {
                    var movie = Model.Movies[i];
                    <tr>
                        <td id="td_title_@i">@movie.Title</td>
                        <td id="td_releaseDate_@i">@movie.ReleaseDate?.ToString("MM/dd/yyyy")</td>
                        <td id="td_description_@i">@movie.Description</td>
                        <td id="td_language_@i">@movie.Language</td>
                        <td id="td_director_@i">@movie.Director?.FullName</td>
                        <td id="td_producer_@i">@movie.Producer?.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
